// Заголовки, общие БЄМ блоки и проче...
$first-color: #1b1b1b;
$second-color: #4bb5f0;
$third-color: rgba(225, 223, 223, 1);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}
body._lock {
  overflow: hidden;
}
.wrapper {
  min-height: 100%;
  width: 100vw;
}
.page {
  width: 100vw;

}
body {
  background-color: #0f0f0f;
  color: $third-color;

  font-weight: 400;
  font-style: normal;
  font-family: "FrederikLight";
  font-weight: 300;
}

.col-lg {
  max-width:58.333vw;// 1120px;
  margin: 0 auto;
}
/// fonts
h1 {
  font-size:3.542vw;// 68px;
  line-height: 112%;
}
h2 {
  font-size:2.188vw;// 42px;
  margin-bottom: 5.208vw; //100px;
  line-height: 130%;
}
h2.col-lg,
h2.h2__container {
  margin-bottom: 5.208vw; //100px; 
  line-height: 130%;
}
h3 {
  font-size: 1.302vw;//25px;
  font-family: "FrederikMedium";
  font-weight: 500;
}

p {
  font-size: 0.938vw;//18px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 124%;
  &:not(:last-of-type) {
    padding-bottom: 1.563vw;//30px;
  }
}
.p-lg {
  font-size:1.875vw;// 36px;
  font-family: "FrederikMedium";
  font-weight: 500;
}
.p-md {
  font-size:1.302vw;// 25px;
  font-family: "FrederikMedium";
  font-weight: 500;
}
/// buttons
.btn {
  position: relative;
  display: block;
}
.btn--underlined,
.decor__btn {
  padding-bottom:0.938vw;//// 18px;
  position: relative;
  font-size:1.042vw;// 20px;
  border-bottom: 4px solid $third-color;
  font-family: "FrederikMedium";
  font-weight: 500;
  &:hover {
    border-bottom: 4px solid rgb(225, 223, 223);
  }
  &:active,
  &:focus {
    color: #4bb5f0;
    border-bottom: 4px solid #4bb5f0;
  }
}
.contacts__ic {
  &:hover {
    &::before {
      content: url(../img/cover.jpg);
    }
  }
}
.checkbox__label {
  font-size:1.042vw;// 20px;
}
.form__error {
  position: absolute;
  right:1.563vw;// 30px;
  font-size: 0.677vw;//13px;
  color: #f05f4b;
}
.form-header__input-field {
  .form__error {
    margin-top: -2.865vw;//55px;
  }
}
/// mask

// .mask-text {
//   font-size: 7rem;
//   font-weight: 700;
//   margin-left: -30px;
//   width: 300px;
//   @supports (background-clip: text) or (-webkit-background-clip: text) {
//     background: linear-gradient(#0f0f0f, #0f0f0f) padding-box
//         /* Don't extend this to border */,
//       linear-gradient(
//           to right bottom,
//           #9171f0,
//           #4bb5f0,
//           #94f04b,
//           #fcd303,
//           #f05f4b,
//           #d155f0
//         )
//         border-box;

//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//   }

// }

.gradient-text {
  background-image: linear-gradient(
    to right,
    #9171f0,
    #4bb5f0,
    #94f04b,
    #fcd303,
    #f05f4b
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
/// forms
.form {
  border-radius:1.042vw;// 20px;
}
.form-body {
  width: 26.042vw;//500px;
  height: 33.646vw;//646px;
  &__title {
    margin-bottom:4.167vw;// 80px;
  }
}
.form__content {
  display: flex;
  flex-direction: column;
}
input:focus {
  box-shadow: none;
  outline: none;
}

input[type="text"] {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 0.625vw;//12px;
  transition: all 0.3s;
  color: $third-color;
  background: transparent;
  border-bottom: 1px solid $third-color;
  font-size: 0.938vw;//18px;
}

.sm-mrg {
  margin-bottom:3.125vw;// 60px;
}

.lg-mrg {
  margin-bottom:4.167vw;// 80px;
}

.input-label {
  position: relative;
  top: -2.135vw;//41px;
  display: inline-block;
  width: 100%;
  z-index: 2;
  float: left;
  pointer-events: none;
  transition: all 0.3s;
  font-size:0.938vw;// 18px;
  font-weight: 400;
  text-align: left;
  span {
    color: $third-color;
  }
}

.input-field input[type="text"]:focus,
.input-field input[type="text"]:active {
  transform: translateY(1.042vw);//20px
}
.form__title {
  font-size:1.302vw;// 25px;
}
.form-main__title {
  margin-bottom:5.990vw;// 115px;
}
.form-main__checkbox {
  margin-bottom:3.125vw;// 60px;
}
.checkbox-input {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    padding-left:2.344vw;// 45px;
  }

  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  &:checked + label:after {
    content:'';
    background-image: url(../img/checkmark-lg.svg );
    background-size:cover;
  width: 1.3vw;
  height: 1.2vw;
  position: absolute;
  background-repeat: no-repeat;
  left: 0.3vw;
  top: -0.3vw;
  }
}

.d-none {
  display: none;
}
.bottom-shadow {
  height: 10.417vw;//200px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: linear-gradient(
    180deg,
    #0f0f0f 0%,
    rgba(15, 15, 15, 0.76) 43.75%,
    rgba(15, 15, 15, 0.18) 80.21%,
    rgba(15, 15, 15, 0) 100%
  );
  transform: rotate(-180deg);
  z-index: 20;
  pointer-events: none;
}
label {
  font-size: 0.833vw;
}