//====================================================================================================

//====================================================================================================
.header__logo {
  position: relative;
}
.header__phone,.header__message,.favorites-ic__outer,.favorites-ic {
  width: 2.083vw;
  height: 2.083vw;
}
.logo-anim {
  svg.logo-blur,
  svg.logo-header {
      width: 9.323vw;
  height: 100%;
  }

}
.logo-blur {
  left: 0;
  position: absolute;
}
.blur-svg {
  filter: blur(1px);
}

.go-green {
  &:hover {
    fill: red;
  }
}
.header__icon {
  position: relative;
  &:not(:last-of-type) {
    margin-right: 1.250vw;//24px;
  }
}
//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: linear-gradient(
    180deg,
    #0f0f0f 0%,
    rgba(15, 15, 15, 0.76) 43.75%,
    rgba(15, 15, 15, 0.18) 80.21%,
    rgba(15, 15, 15, 0) 100%
  );
  min-height:7.708vw;// 148px;
}
.header__container {
  margin: 0 auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.083vw;
  padding-bottom:4.948vw;// 95px;
}

// .header__menu {

.menu__list > li {
  position: relative;
  &:not(:last-of-type) {
    margin-right: 2.344vw;//45px;
  }
  &:first-of-type {
    margin-left: 0;
  }
}
.menu__link {
  transition: ease 0.6s ease;
  color: #fff;
  font-family: "FrederikMedium";
  font-weight: 500;
  padding-bottom:0.938vw;// 18px;
  position: relative;
  font-size: 0.833vw;//16px;
  &:hover {
    border-bottom: 4px solid rgb(225, 223, 223);
  }
  &:active,
  &:focus {
    color: #4bb5f0;
    border-bottom: 4px solid #4bb5f0;
  }
}
.header__menu {
  
  margin: 0 auto;
}
@media (min-width: $mobile) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}

.page {
  padding-top: 7.708vw;//148px;
}
.page__section {
 // padding: 30px;
  max-width:62.500vw;// 1200px;
  margin: 0px auto;
}

.page__sub-title {
  font-size:1.563vw;// 30px;
  margin: 0px 0px 20px 0px;
}

.header {
  &._header-scroll {
    position: fixed;
    top: -200%;
  }
  &._header-show {
    transition: top 0.3s ease 0s;
    top: 0;
  }
}

.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}
.menu__link {
  color: #fff;
  font-size:0.938vw;// 18px;
}

.menu__arrow {
  display: none;
}

body._touch .menu__list > li {
  display: flex;
  align-items: center;
}
body._touch .menu__link {
  flex: 1 1 auto;
}
body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}

body._touch .menu__list > li._active .menu__arrow {
  transform: rotate(-180deg);
}

/* ----------------------- */
@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 1.563vw;//30px;
    height: 0.938vw;//18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;

    z-index: 2;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
}

// .header__icons,
// .header__logo {
//   position: absolute;
// }
.header__icons {
  right: 0;
}

/// hover icons
.header__phone {
  transition: all 0.6s ease;
  &:hover,
  &:active,
  &:focus {
    fill: #94f04b;
    .fill-white {
      fill: white;
    }
  }
}
.header__message {
  transition: all 0.6s ease;
  &:hover,
  &:active,
  &:focus {
    .svg-rect {
      fill: #4bb5f0;
    }

    .stroke-white {
      stroke: white;
    }
    .fill-white {
      fill: white;
    }
  }
}

@media (max-width: 1280px) {
  .menu__list > li:not(:last-of-type) {
    margin-right: 15px;
  }
  .menu__link {
    font-size: 11px;
  }
}
.header__logo,
.header__icons
 {
  position: absolute;
}
.menu__list,.header__menu {
  width: 100%;
}.header__container {
  position: relative;
 
   width: 96vw; margin: 0 auto;
}
.header {

}