@font-face {
  font-family: Frederik;
  font-display: swap;
  src: url("../fonts/Frederik-Black.woff2") format("woff2"),
    url("../fonts/Frederik-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Frederik;
  font-display: swap;
  src: url("../fonts/Frederik-ExtraBold.woff2") format("woff2"),
    url("../fonts/Frederik-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: FrederikLight;
  font-display: swap;
  src: url("../fonts/Frederik-Light.woff2") format("woff2"),
    url("../fonts/Frederik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Frederik;
  font-display: swap;
  src: url("../fonts/Frederik-DemiBold.woff2") format("woff2"),
    url("../fonts/Frederik-DemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Frederik;
  font-display: swap;
  src: url("../fonts/Frederik-LightItalic.woff2") format("woff2"),
    url("../fonts/Frederik-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Frederik;
  font-display: swap;
  src: url("../fonts/Frederik-Heavy.woff2") format("woff2"),
    url("../fonts/Frederik-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Frederik;
  font-display: swap;
  src: url("../fonts/Frederik-MediumItalic.woff2") format("woff2"),
    url("../fonts/Frederik-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: FrederikMedium;
  font-display: swap;
  src: url("../fonts/Frederik-Medium.woff2") format("woff2"),
    url("../fonts/Frederik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Frederik;
  font-display: swap;
  src: url("../fonts/Frederik-Bold.woff2") format("woff2"),
    url("../fonts/Frederik-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: FrederikThin;
  font-display: swap;
  src: url("../fonts/Frederik-Thin.woff2") format("woff2"),
    url("../fonts/Frederik-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Frederik;
  font-display: swap;
  src: url("../fonts/Frederik-Regular.woff2") format("woff2"),
    url("../fonts/Frederik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotoblack;
  font-display: swap;
  src: url("../fonts/Robotoblack.woff2") format("woff2"),
    url("../fonts/Robotoblack.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Frederik;
  font-display: swap;
  src: url("../fonts/Frederik-UltraLight.woff2") format("woff2"),
    url("../fonts/Frederik-UltraLight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Frederik;
  font-display: swap;
  src: url("../fonts/Frederik-RegularItalic.woff2") format("woff2"),
    url("../fonts/Frederik-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotobold;
  font-display: swap;
  src: url("../fonts/Robotobold.woff2") format("woff2"),
    url("../fonts/Robotobold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotolight;
  font-display: swap;
  src: url("../fonts/Robotolight.woff2") format("woff2"),
    url("../fonts/Robotolight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotomedium;
  font-display: swap;
  src: url("../fonts/Robotomedium.woff2") format("woff2"),
    url("../fonts/Robotomedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotothin;
  font-display: swap;
  src: url("../fonts/Robotothin.woff2") format("woff2"),
    url("../fonts/Robotothin.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto.woff2") format("woff2"),
    url("../fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
